@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Digital Matter web application assignment</h1>
    <p>Please proceed to the groups tab</p>
</div>
